body{
	font: 85% / 175% "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; 
	background-color:#dde5ea;
	color:#555;
	width:960px;
	margin:0 auto;
}

#header{
	margin:0 auto;
}

h3, h4, h5, h6{
    font-family: helvetica, arial, verdana, sans-serif;
    font-weight: normal;
	color:#333;
	margin:0;
	padding:0;
}

h3, h4{
	margin-bottom:-1em;
	color:#000;
}

h1{
	padding-left:20px;
}

h2{
	margin-top:-15px;
}


div{
	margin-bottom:2em;
}

#nav{
	margin-left:180px;
	margin-top:-63px;
	height:30px;
	width:901px;
}

#nav li{
	display:inline;
	margin-top:-2px;
}

#nav li a{
	font:1.2em Helvetica, sans-serif;
	color:#FFF;
	text-decoration:none;
	padding:5px;
}

/*--------------------------
	    CONTENT
---------------------------*/

#main{
	margin:0 auto;
	position:relative;
	float:left;
	border-left:#5c8bac solid 1px;
	border-right:#5c8bac solid 1px;
	width:938px;
	margin-top:-18px;
	margin-left:17px;
	padding-top:30px;
}

#content{
	width:40em;
	position:relative;
	float:left;
	padding-top:1.40em;
	padding-left:20px;
	margin-left:20px;
	border-right:1px solid #ddd;
	background-color:#edf0f2;
    vertical-align:middle;
	border:outset;
}
	
	
#content p{padding:0 1.5em 0 0;}

#menu{
	display:block;
	padding-bottom:50px;	
}

#menu li {
	list-style:none;
	padding-bottom:8px;
}

#menu a{
	text-decoration:none;
	color:#391600;	
}

#menu a:hover{
	text-decoration:none;
	color:#5c8bac;	
}

#menu_links a{
	text-decoration:none;
	color:#391600;	
}

#menu_links a:hover{	
	color:#5c8bac;
}

 
/*--------------------------
	    SideBar
---------------------------*/

#sidebar{
	position:relative;
	float:right;
	width:21em;
    font-size:.85em; 
	line-height:1.52em;
	padding:3em 1.5em;
	margin-right:2em;
	background:#eee;
}
 
/*--------------------------
	    FOOTER
---------------------------*/

#main #footer{
	position:relative;
	clear:both;
	background-color:#aaa;
	margin:0 auto;
}

 #footer a{
	 text-decoration:none;
	 color:#391600;
	 padding:15px;
}

 #footer a:hover{
	color:#CCC;
}


/*  about page specific styles  
#about #content{width:75em; border-width:0;}
#about #content p span	{display:block;width:20em;height:17.5em;background-color:#ccc;float:left;margin:.5em 1em 1em 0;}

#about #content div{
display:block;width:20em;float:left;margin:.5em 2em 1em 2em;
background-color:#9CC;
	
}*/


